body {
    font-family: monospace;
    margin: 20px;
    background-color: #f5f5f5;
    color: #333;
}

.dark-mode {
    background-color: #121212;
    color: #eee;
}

.modesbtn {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 40px;
    height: 40px;
    background-image: url("./moon.png");
    background-repeat: no-repeat;
    background-size: 40px 40px;
    cursor: pointer;
    border: none;
    background-color: white;
}

.dark-mode .modesbtn {
    background-image: url("./brightness.png");
    background-color: #121212;
}

.addingbookmarkarea {
    display: grid;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 30px;
}

.addingbtn {
    background-color: #B77B82;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    height: fit-content;
    width: 120px;
    font-family: monospace;
}

.addingbtn:hover {
    filter: brightness(0.9);
}

.bookmarktitle,
.bookmarkurl {
    border-radius: 5px;
    padding: 6px 10px;
    border: 1px solid #ccc;
    width: 250px;
    filter: brightness(0.95);
}

#bookmarkslist {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    gap: 20px;
    padding: 0;
    list-style: none;
}

@media (max-width: 900px) {
    #bookmarkslist {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {
    #bookmarkslist {
        grid-template-columns: 1fr;
    }
}


.bookmark-item {
    background-color: #B77B82;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: transform 0.2s, box-shadow 0.2s;
}

h3 {
    font-family: monospace;
}

.dark-mode .bookmark-item {
    background-color: orange;
    color: #eee;
    filter: brightness(0.9);
}

.dark-mode .addingbtn {
    background-color: orange;
    color: #121212;
    border: 1.5px solid white;
}

.bookmark-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

.bookmark-item a {
    text-decoration: none;
    color: #333;
    font-weight: 600;
    max-width: 180px;
    word-wrap: break-word;
}

.dark-mode .bookmark-item a {
    color: black;
}

.delete-btn {
    background: transparent;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 6px 10px;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.2s ease;
}

.bookmark-item:hover .delete-btn {
    opacity: 1;
}

.fav-btn {
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
    color: #f1c40f;
    margin-right: 10px;
    transition: transform 0.3s;
}

.fav-btn:hover {
    transform: scale(1.2);
}

.bookmark-item.favorite {
    border: 5px solid #f1c40f;
}

.dark-mode .fav-btn {
    color: black;

}

.intro-star {
    display: inline-block;
    font-size: 60px;
    color: gold;
    margin-left: 15px;
    position: relative;
    opacity: 0;
}


.star1 {
    animation: star-move 3s ease-in-out infinite;
}

.star2 {
    animation: star-move 3s ease-in-out infinite;
    animation-delay: 0.6s;
    /* follow timing */
}

@keyframes star-move {
    0% {
        transform: translateX(0) scale(0.5);
        opacity: 0;
    }

    15% {
        opacity: 1;
    }

    60% {
        transform: translateX(45vw) scale(1.2);
        /* bounce effect */
    }

    75% {
        transform: translateX(50vw) scale(1);
    }

    100% {
        transform: translateX(0) scale(0.5);
        opacity: 0;

    }
}